<header class="main-header">
    <nav class="main-header__nav">
        <h2 class="main-header__title">Sportify</h2>
        <ul class="main-header__list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === '/edit' ? 'active' : '' %>" href="/edit">Edit</a></li>
        </ul>
    </nav>
</header>